:root {
    --theme-orange: #ff8000;
    --background-light: #ff800023;
    --border-grey: #e0e0e0;
    --btn-blue: #4779FB;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    display: grid;
    grid-template-rows: 80px auto 80px;
    grid-template-columns:  3fr 1fr ;
    grid-template-areas: 
        "header header"
        "restaurant basket"
        "footer footer";
}

/*ANCHOR standard classes */
html {
    scroll-behavior: smooth;
}

h3 {
    margin: 0;
    margin-bottom: 16px;
}


.pointer {
    cursor: pointer;
}

.jstfy-self-start {
    justify-self: start;
}

.jstfy-self-end {
    justify-self: end;
}

.jstfy-self-center {
    justify-self: center;
}

.orange-font {
    color: var(--theme-orange);
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.text-underline {
    text-decoration: underline;
}

.hide {
    display: none;
}

.txt-nowrap {
    text-wrap: nowrap;
}


/* ANCHOR header*/
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--theme-orange);
    border-bottom: 4px solid rgba(0, 0, 0, 0.091)
}

.logo {
    width: 48px;
    margin: 8px;
}


/* ANCHOR restaurant*/
.restaurant-section {
    grid-area: restaurant;
    min-height: calc(100vh - 160px);
}

.atf-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.title-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 16px;
    height: 100px;
}

.title-bar h2 {
    margin-bottom: 16px;
}

.rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rate-text {
    color: var(--theme-orange);
    font-size: 14px;
}

.logo-circle {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico';
    color: rgb(59, 5, 5);
    background-color: #ebdebe;
    border-radius: 100%;
    border: solid 4px rgb(59, 5, 5);
    padding: 16px;
    transform: translateY(-50%);
}

.restaurant-logo {
    width: 64px;
}


/* ANCHOR menu bar */

.menu-bar {
    background-color: var(--theme-orange);
    height: auto;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
}

.menu-bar > * {
    cursor: pointer;
    user-select: none;
}

.menu-bar img {
    width: 40px;
}

.menu-bar p:hover {
    color: var(--border-grey);
}

.mobile-menu {
    text-align: center;
}


/* ANCHOR Menu */
.menu-header {
    background: var(--background-light);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.menu-header h3 {
    margin: 0;
}

.menu-list {
    padding: 40px;
}

.menu-item {
    display: flex;
    border: solid 2px var(--border-grey);
    border-radius: 8px;
    margin-bottom: 16px;
}

.menu-item-content {
    width: 100%;
    padding: 8px;
}

.menu-item img {
    cursor: pointer;
}

.menu-item p {
    margin-bottom: 8px;
}


.add-btn-container {
    border-bottom: solid 2px var(--border-grey);
    border-left: solid 2px var(--border-grey);
    border-bottom-left-radius: 8px;
    height: 16px;
    padding: 8px;
}


/* ANCHOR basket */
.basket-section {
    grid-area: basket;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sticky-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.close-basket {
    display: none;
    cursor: pointer;
}

.basket-placeholder {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.basket-placeholder > * {
    text-align: center;
    margin: 8px 0;
}

.basket-items {
    width: 100%;
}

.basket-item {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 2fr 1fr;
    align-items: center;
}


.btn-container {
    display: flex;
    gap: 4px;
}

.amount-btn {
    height: 24px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px var(--border-grey);
    border-radius: 4px;
}

.amount-btn img {
    width: 12px;
}

.sum-container {
    box-sizing: border-box;
    border-top: solid 2px var(--border-grey);
    border-bottom: solid 2px var(--border-grey);
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.padd-basket {
    padding: 8px 16px;
}

.text-end {
    text-align: end;
}

.pay-btn-container {
    margin-top: 40px;
    width: 100%;
    display: none;
    justify-content: center;
}


.pay-btn {
    width: 80%;
    height: 48px;
    background-color: var(--theme-orange);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.pay-btn:hover {
    background-color: var(--btn-blue);
}

/* ANCHOR link to basket-btn */
.basket-link {
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 00px;
    display: none;
    backdrop-filter: blur(6px);
    height: 100px;
}

.basket-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 600;
    background-color: var(--btn-blue);
}


/* ANCHOR footer */
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    color: var(--theme-orange);
}


/* ANCHOR media querries */ 
@media (max-width: 1200px) {
    .title-bar {
        grid-template-columns: 1fr 1fr;
    }

    .logo-circle {
        justify-self: end;
    }

    .sticky-container {
        display: none;
    }

    .mobile-basket {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px;
        background-color: white;
    }

    .close-basket {
        display: block;
    }

    .basket-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    body {
        grid-template-columns: 1fr;
    }

    .hide-with-mobile-basket {
        display: none;
    }

    .show-with-mobile-basket {
        display: flex;
    }
}


@media (max-width: 768px) {
    .title-bar {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 200px;
    }

    .rest-name {
        transform: translateY(-20%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-circle {
        transform: translateY(-10%);
    }

}


@media (max-width: 576px) {
    .menu-list {
        padding: 40px 16px;
    }

    .padd-basket {
        padding: 8px 4px;
    }
}



/* ANCHOR fonts */

/* roboto-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pacifico-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/pacifico-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }