:root {
    --theme-orange: #ff8000;
    --background-light: #efedea;
    --border-grey: #e0e0e0;
}

/*ANCHOR standard classes */
html {
    scroll-behavior: smooth;
}

h3 {
    margin: 0;
    margin-bottom: 16px;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    display: grid;
    column-gap: 16px;
    grid-template-rows: 80px auto 80px;
    grid-template-columns:  3fr 1fr ;
    grid-template-areas: 
        "header header"
        "restaurant basket"
        "footer footer";
}




/* ANCHOR header*/
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--theme-orange);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
    width: 48px;
    margin: 8px;
}


/* ANCHOR restaurant and menu */
.restaurant-section {
    grid-area: restaurant;
}

.atf-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu-bar {
    background-color: var(--background-light);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu-bar > * {
    cursor: pointer;
}

.menu-list {
    padding: 40px;
}

.menu-item {
    display: flex;
    border: solid 1px var(--background-light);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.menu-item-content {
    width: 100%;
}

.menu-item img {
    cursor: pointer;
}

.menu-item p {
    margin-bottom: 8px;
}



/* ANCHOR basket */
.basket-section {
    grid-area: basket;
    margin-right: 16px;
}

.sticky-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-placeholder {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-placeholder > * {
    text-align: center;
    margin: 8px 0;
}

.basket-items {
    width: 100%;
}

.basket-item {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 2fr 1fr;
    align-items: center;
}

.jstfy-self-start {
    justify-self: start;
}

.jstfy-self-end {
    justify-self: end;
}

.jstfy-self-center {
    justify-self: center;
}


.btn-container {
    display: flex;
    gap: 4px;
}

.amount-btn {
    height: 24px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px var(--border-grey);
    border-radius: 4px;
}

.amount-btn img {
    height: 16px;
}

.sum-container {
    box-sizing: border-box;
    border-top: solid 2px var(--border-grey);
    border-bottom: solid 2px var(--border-grey);
    padding: 8px 16px;
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}




/* ANCHOR footer */
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    color: var(--theme-orange);
}



/* ANCHOR fonts */

/* roboto-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}