<footer>

    <div class="footer-content">
        <div class="brand">
            <img src="assets/img/5_section_footer/SVG/sakura_ramen_logo_and_text.svg" alt="sakura-ramen-logo">
        </div>
        <div class="social-media">
            <img src="assets/img/5_section_footer/SVG/tripadvisor_logo.svg" alt="tripadviser">
            <img src="assets/img/5_section_footer/SVG/facebook_logo.svg" alt="facebook">
            <img src="assets/img/5_section_footer/SVG/instagram_logo.svg" alt="insta">
            <a href="imprint" >Imprint</a>
        </div>
    </div>

</footer>
