.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
    background-image: url('../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg');
}


.menu {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.menu-item {
    display: flex;
    padding-bottom: 56px;
    align-items: center;

}

td {
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--dish-price-text);
    padding-bottom: 8px;
}

img {
    width: 352px;
    height: 352px;
}

table {
    margin-left: 80px;
    margin-right: 80px;
}


th {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    padding-bottom: 16px;
}

.withFlexEnd {
    align-self: flex-end;
}


@media (max-width: 940px) {
    .menu-item {
        flex-direction: column;
        gap: 16px;
    }

    table {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column-reverse-on-mobile {
        align-self: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 1080px) {
    th {
        font-size: 36px;
    }

    td {
        font-size: 24px;
        padding: 6px;
    }
}

@media (max-width: 450px) {

    img {
        width: 300px;
        height: 300px;
    }

}
