<div class="content withBG">
    <h2 id="menu">OUR MENU</h2>
    <div class="menu">
        <div class="menu-item">
            <img src="assets/img/3_section_our_menu/Png/R1.png" alt="tonkotsu ramen">
            <table>
                <thead>
                    <tr>
                        <th>Tonkotsu Ramen</th>
                    </tr>
                </thead>
                <tr>
                    <td id="chicken1">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef1" >BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp1" >SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
        <div class="menu-item withFlexEnd column-reverse-on-mobile">
            <table>
                <thead>
                    <tr>
                        <th>Spicy Miso Ramen</th>
                    </tr>
                </thead>
                <tr>
                    <td id="chicken2" >CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef2" >BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp2" >SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
            <img src="assets/img/3_section_our_menu/Png/R2.png" alt="tonkotsu ramen">
        </div>
        <div class="menu-item nobottom-padding">
            <img src="assets/img/3_section_our_menu/Png/R3.png" alt="tonkotsu ramen">
            <table>
                <thead>
                    <tr>
                        <th>Shio Ramen</th>
                    </tr>
                </thead>
                <tr>
                    <td id="chicken3" >CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef3" >BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp3" >SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</div>
