:root {
    --highlight: #ae8548;
    --bg-dark: #0e0e0e;
    --bg-grey: #272727;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-size: 92px;
    margin-block-start: 20;
    margin-block-end: 0;
}

/* ANCHOR atf */

.atf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.atf span {
    font-size: 32px;
    color: white;
    margin-bottom: 80px;
}

.logo {
    width: 80px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 48px 80px 48px 80px;
}

.navbar a {
    margin-left: 32px;
    font-size: 24px;
}

.navbar a:hover {
    color: var(--highlight);
}

.navbar img {
    height: 20px;
    margin-left: 32px;
}

.navbar img:hover {
    filter: drop-shadow(0px 0px 8px var(--highlight));
    cursor: pointer;
}

.button {
    background-color: var(--highlight);
    padding: 16px;
    width: 160px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/* ANCHOR categories */

.categories {
    display: flex;
    padding: 120px 0px 120px 0px;
    justify-content: space-around;
    background-color: var(--bg-dark);
    font-size: 32px;
}

.category img {
    width: 400px;
    margin-top: 14px;
}

.category {
    color: var(--highlight);
    font-weight: 600;
}

/* ANCHOR festival */

.festival-container {
    background-color: var(--bg-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.festival-text {
    width: 500px;
    margin: 20px;
}

.ticket-container {
    width: 500px;
    height: 356px;
    border-left: solid white 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.festival-container h3 {
    margin-block-start: 0;
    font-size: 30px;
}

.festival-container span {
    font-size: 20px;
}

/* ANCHOR playlist-banner */

.playlist-banner {
    padding: 100px 20vw;
    text-align: center;
}

.playlist-banner a{
    color: var(--highlight);
    font-weight: 700;
    font-size: 32px;
}

/* ANCHOR video */

.video-container {
    background-image: url(img/bottom.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* ANCHOR footer */

footer {
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    font-size: 24px;
}

.submit-share-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-share-container img {
    width: 40px;
    margin: 16px;
}

.submit-share-container form {
    display: flex;
}

.submit-share-container input {
    border: none;
    padding: 3px;
    color: grey;
    padding-left: 24px;
    font-size: 16px;
}

.footer-content span {
    align-self: flex-end;
    margin: 16px;
}

.disclaimer {
    margin: 0;
    padding: 10px;
    font-size: 10px;
    align-self: flex-end;
    color: grey;
}

.disclaimer a {
    color: grey;
}
