:root {
    --highlight: #ae8548;
    --bg-dark: #0e0e0e;
    --bg-grey: #272727;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-size: 120px;
    margin-bottom: 20px;
}

.atf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.atf span {
    font-size: 40px;
    color: white;
    margin-bottom: 80px;
}

.logo {
    width: 80px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 48px;
}

.navbar a {
    margin-left: 32px;
    font-size: 24px;
}

.navbar a:hover {
    color: var(--highlight);
}

.navbar img {
    height: 20px;
    margin-left: 32px;
}

.navbar img:hover {
    filter: drop-shadow(0px 0px 8px var(--highlight));
    cursor: pointer;
}

.button {
    background-color: var(--highlight);
    border-radius: 2px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    margin: 20px;
}

/* ANCHOR categories */

.categories {
    display: flex;
    padding: 100px 0px 100px 0px;
    justify-content: center;
    background-color: var(--bg-dark);
}

.categories a {
    color: var(--highlight);
}

.categories img {
    width: 400px;
}

.category {
    margin: 20px;
    font-size: 32px;
}

.festival-container {
    background-color: var(--bg-grey);
}