<app-navbar />

<section class="imp-section">
    

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Jonas Benkwitz<br />
        Arthur-Weisbrodt-Stra&szlig;e 24<br />
        10369 Berlin</p>

    <h2>Kontakt</h2>
    <p>Telefon: +491637386425<br />
        E-Mail: jonas.benkwitz&#64;gmail.com</p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>

    <h2>Lizenzen</h2>

    <p>Icons erstellt von <a class="click-text link-text" href="https://fonts.google.com/" target="_blank" rel="noopener noreferrer">Google Fonts</a> und <a class="click-text link-text" href="https://logomakr.com/" target="_blank" rel="noopener noreferrer">Logo maker</a> verwendet unter <a class="click-text link-text" href="https://creativecommons.org/licenses/by/4" target="_blank">Creative Commons Lizenz</a></p>

</section>