body {
    background-color: rgb(87, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1, h2 {
    color: white;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "field field field"
        "field field field"
        "field field field";
}

.field {
    grid-area: "field";
    height: 160px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.field:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.first-row {
    border-bottom: 4px solid white;
}

.middle {
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.last-row {
    border-top: 4px solid white;
}

.game-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    box-shadow: rgb(0, 0, 0) 0px 4px 6px;
    padding: 20px;
    border-radius: 8px;
}

.cross {
    height: 90px;
    width: 90px;
    margin: 0;
    padding: 0;
}


.circle {
    height: 90px;
    width: 90px;
    border: solid 9px turquoise;
    border-radius: 100%;
}


.line {
    height: 4px;
    width: 700px;
    background-color: yellow;
    z-index: 99;
    transform: translateY(0px) translateX(0px) rotate(0deg);
    display: none;
}

button {
    background-color: rgb(12, 130, 170);
    color: white;
    height: 64px;
    width: 240px;
    font-size: large;
    border-radius: 8px;
    border: solid 4px white;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}