.module {
    width: 12rem;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: white;

}

.module:hover {
    scale: 1.02;
}

.module-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10rem;
}

.module-text {
    padding: 0.5rem;
    background-color: white;
    min-height: 5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}