.header {
    margin-top: 24px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
}

.logo {
    height: 64px;
    width: 64px;
}


.navbar {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    >img {
        width: 20px;
    }
}

.tel-btn {
    background-color: var(--h2-text);
    border: solid 1px white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding: 8px;
    &:hover {
        background-color: red;
    }
}


.logo {
    height: 64px;
    width: 64px;
}



@media (max-width: 450px) {
    .navbar {
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 24px;
        >img {
            width: 40px;
        }
    }


    body {
        font-size: 16px;
    }
    
    .tel-btn {
        width: 160px;
    }

    .tel-btn img {
        width: 16px;
    }

    .logo {
        height: 56px;
        width: 56px;
    }
}