
<div class="header">
    <img src="../../../assets/img/1_hero/PNG/sakura_logo.png" alt="">

    <nav class="navbar">
        <a id="menu-link" class="hide-on-mobile" href="#menu" >Menu</a>
        <a id="location-link" class="hide-on-mobile" href="#location" >Location</a>
        <a id="about-link" class="hide-on-mobile" href="about.html" target="_blank" rel="noopener noreferrer">About</a>
        <a class="tel-btn" href="tel:+4917654564534"><img src="assets/img/1_hero/SVG/phone.svg" alt="phone">0176 54564534</a>
        <img id="ger" src="assets/img/de.svg" alt="deutsch">
        <img id="en" src="assets/img/gb.svg" alt="english">
    
    </nav>
</div>
