<div class="content">
    <h2 id="orderH2" >HOW TO ORDER</h2>
    <div class="order">
        
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/SVG/noodle.svg" alt="noodle bowl">
            <span id="order1">Pick your noodle</span>
        </div>
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/SVG/broth.svg" alt="hot broth">
            <span id="order2">Pick your broth</span>
        </div>
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/SVG/egg.svg" alt="eggs">
            <span id="order3">Add your toppings</span>
        </div>
    </div>

</div>
