:root {
    --default-text: #000000;
    --h2-text: #9F0908;
    --dish-price-text: #675E54;
    --footer: #0A141E;
}

body {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    color: var(--default-text);
    margin: 0;
}

h1 {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
}

h2 {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: var(--h2-text);
    margin-bottom: 64px;
    margin-top: 0;
    padding-top: 120px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.main-container {
    position: absolute;
    top: 0;
    left: 160px;  
    right: 160px;
    margin: 0;
}


@media only screen and (max-width: 1440px){
    .main-container {
        left: 0;
        right: 0;
    }
    
} 

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/1_hero/JPG/hero_bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.header {
    height: 112px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    height: 64px;
    width: 64px;
}

.navbar {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel-btn {
    background-color: var(--h2-text);
    border: solid 1px white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.withBG {
    background-image: url('img/3_section_our_menu/JPG/section_our_menu_bg.jpg');
}

/* ANCHOR order */

.order {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.order-step {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-step img { 
    width: 128px;
    margin-bottom: 16px;
}

.order-step span {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    
}

/* ANCHOR menu */

.menu {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.menu-item {
    display: flex;
    margin-bottom: 56px;
    align-items: center;
}

.withFlexEnd {
    align-self: flex-end;
}

.menu-item img {
    width: 352px;
    height: 352px;
}

.menu-item table {
    margin: 80px;
}

.menu-item th {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    padding-bottom: 16px;
}

.menu-item td {
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--dish-price-text);
    padding-bottom: 8px;
}

/* ANCHOR location */



