:root {
    --default-text: #000000;
    --h2-text: #9F0908;
    --dish-price-text: #675E54;
    --footer: #0A141E;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    color: var(--default-text);
    margin: 0;
}

h1 {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
}

h2 {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: var(--h2-text);
    margin-bottom: 64px;
    margin-top: 0;
    padding-top: 120px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: solid white 2px;
}


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/1_hero/JPG/hero_bg.jpg');
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    color: white;
}

.header {
    margin-top: 24px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
}

.logo {
    height: 64px;
    width: 64px;
}

.navbar {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel-btn {
    background-color: var(--h2-text);
    border: solid 1px white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding: 8px;
}

.tel-btn:hover {
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.withBG {
    background-image: url('img/3_section_our_menu/JPG/section_our_menu_bg.jpg');
}

/* ANCHOR order */

.order {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.order-step {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-step img {
    width: 128px;
    margin-bottom: 16px;
}

.order-step span {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-align: center;

}

/* ANCHOR menu */

.menu {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.menu-item {
    display: flex;
    padding-bottom: 56px;
    align-items: center;
}

.withFlexEnd {
    align-self: flex-end;
}

.menu-item img {
    width: 352px;
    height: 352px;
}

.menu-item table {
    margin-left: 80px;
    margin-right: 80px;
}

.menu-item th {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    padding-bottom: 16px;
}

.menu-item td {
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--dish-price-text);
    padding-bottom: 8px;
}

/* ANCHOR location */


#location {
    margin-bottom: 8px;
}

.location-span {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    text-align: center;
}

.location-span img {
    margin-right: 8px;
}

.nobottom-padding {
    padding-bottom: 0px;
}

/* ANCHOR Footer */

footer {
    background-color: var(--footer);
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand img {
    height: 44px;
}

.social-media img {
    height: 40px;
    width: 40px;
}

/* ANCHOR media querries */

@media (max-width: 940px) {
    .hide-on-mobile {
        display: none;
    }

    .navbar {
        justify-content: end;
    }

    h1 {
        font-size: 80px;
        margin-block-end: 0.4em
    }

    h2 {
        font-size: 64px;
    }

    .order {
        flex-direction: column;
        align-items: center;
        gap: 96px;
    }

    .menu-item {
        flex-direction: column;
        gap: 16px;
    }

    .menu-item table {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column-reverse-on-mobile {
        align-self: center;
        flex-direction: column-reverse;
    }

    .location-span {
        flex-direction: column;
    }

    .location-span img {
        margin-right: 0px;
    }

    .footer-content {
        flex-direction: column;
        gap: 32px;
    }

    .social-media img {
        margin: 0px 16px;
        height: 60px;
        width: 60px;
    }

}

@media (max-width: 1080px) {
    .menu-item th {
        font-size: 36px;
    }

    .menu-item td {
        font-size: 24px;
        padding: 6px;
    }
}