
.module-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.standard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: white;
}
