/* ANCHOR standard classes*/

:root {
    --border-grey: #DBDBDB;
    --text-grey: #A4A4A4;
    --link-blue: #007ABC;
    --button-blue: #0095F6;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.highlighted-text {
    font-weight: 500;
}

.fs-20 {
    font-size: 20px;
}

.standard-border-style {
    border: solid 2px var(--border-grey);
    border-top-right-radius: 0;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 0;
}

.btn {
    color: white;
    background-color: var(--button-blue);
    font-size: 20px;
    border-color: var(--button-blue);
    cursor: pointer;
    height: 48px;
}

.btn:hover {
    background-color: rebeccapurple;
}

.margin-0 {
    margin: 0;
}

.grey-text {
    color: var(--text-grey);
}

.click-text {
    cursor: pointer;
}

.link-text {
    color: var(--link-blue);
}

.underlined {
    text-decoration: underline;
}

/* ANCHOR header*/

header {
    border-bottom: solid 2px var(--border-grey);
}

.inner-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 32px;
}

.logo {
    width: 120px;
}

.searchbar {
    justify-self: center;
    display: flex;
    align-items: center;
}

.searchbar input {
    height: 32px;
    box-sizing: border-box;
    border: solid 1px black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0;
    width: 240px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    height: 32px;
    width: 40px;
    border: solid 1px black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 12px;
    background-color: white;
}

.header-menu {
    justify-self: end;
    display: flex;
    gap: 40px;
}

.header-menu > * {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

.header-menu img {
    width: 40px;
}

/* ANCHOR post overlay */

.post-overlay {
    position: fixed;
    top: 140px;
    left: 20%;
    right: 20%;
    background-color: white;
    padding: 24px;
    display: none;
    /* box-shadow: 1px 1px 320px 1px rgb(0 0 0 / 100%); */
    border-color: black;
    z-index: 99;
    
}

.post-form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-color: var(--border-grey);
}

.post-form input {
    margin-bottom: 24px;
    height: 32px;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid var(--border-grey);
}

.post-form .btn {
    width: 50%;
    align-self: center;
}

.post-form input:focus {
    outline: none;
}

/* ANCHOR cards section */

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 56px 0px;   
}

.dark-card-section {
    background-color:rgba(0,0,0,.75);
}

.card {
    width: 60%;
}

.card-header {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-pic {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.post-img {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    object-fit: cover;
}

.card-menu img {
    width: 40px;
    padding-left: 16px;
    cursor: pointer;
}

.card-text-area {
    padding: 0px 16px;
}

.comment {
    margin: 0;
    margin-bottom: 4px;
}

.likes {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

/* ANCHOR footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--border-grey);
    padding: 16px 32px;
}

/* ANCHOR media querries */

@media (max-width: 1060px) {
  .hide-on-mobile {
    display: none;
  }  

  .card {
    width: 90%;
  }

  .post-form .btn {
    width: 100%;
    align-self: center;
    }
}


/* ANCHOR fonts */

/* roboto-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('fonts/roboto-v30-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}