body {
    font-family: sans-serif;
    padding: 0.5rem;
    margin: 0;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
    background-image: url("./img/bg/bgbg.webp");
    background-size: cover;
}

a {
    color: white;
}

h1, h2 {
    color: white;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    text-shadow: rgb(21, 105, 164) 1px 2px 10px;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}


header {
    display: flex;
    width: 82vw;
    min-width: 310px;
    padding: 1rem;
}

.inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 60px;
}

.mir {
    transform: scaleX(-1);
}

.content-section {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    max-width: 1600px;
    color: rgb(0, 0, 91);
}

.content-section a {
    color: rgb(0, 0, 91);
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.intro {
    font-size: 1.4rem;
    color: rgb(0, 0, 91);
    background-color: rgba(239, 254, 255, 0.726);
    border-radius: 16px;
    padding: 1.5rem;
    margin: 3rem;
}

.intro h3 {
    font-size: 2rem;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


input {
    height: 3rem;
    width: 300px;
    background-color: #0ecfd9;
    color: white;
    font-family: 'Luckiest Guy';
    font-size: 1.4rem;
    border-radius: 16px;
    border-color: darkblue;
    padding: 8px;
}


.menu-btns {    
    padding: 0.5em 0;
    width: 280px;
    cursor: pointer;
    border: solid 4px white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.pink-btn {
    background-color: #BF067F;
}

.pink-btn:hover {
    background-color: #c81087;
} 

.sub-btn {
    color: yellow;
    font-size: 2rem;
    cursor: pointer;
    border: solid 2px yellow;
    border-radius: 12px;
    padding: 0.2em;
    text-align: center;
    background-color: #0ecfd9d1;
    margin-bottom: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sub-btn:hover {
    background-color: #0a949be0;
}

footer {
    text-align: center;
}

.footer-a {
    font-size: 1.2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media screen and (min-height: 900px) {
    .intro {
        margin: 0 3rem;
    }
}



@media screen and (max-width: 792px) {
    h1, h2 {
        font-size: 1.4rem;
    }

    .small-screen-hide {
        display: none;
    }

    .inner-header {
        justify-content: center;
    }

    .flex-content {
        gap: 1rem;
    }

    .intro {
        margin: 0;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .intro h3 {
        font-size: 1.8rem;
    }

    .content-section {
        color: white;
    }

    .content-section a {
        color: white;
    }
}

/* luckiest-guy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/luckiest-guy-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}