body {
    font-family: sans-serif;
    padding: 0.5rem;
    margin: 0;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
}

a {
    color: white;
}

h1, h2 {
    color: yellow;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-top: 4rem;
}


header {
    display: flex;
    width: 82vw;
    min-width: 310px;
    padding: 1rem;
}

.inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
}

.mir {
    transform: scaleX(-1);
}

.content-section {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


input {
    height: 2rem;
    width: 300px;
    background-color: rgba(0, 255, 255, 0.164);
    color: white;
    font-family: 'Luckiest Guy';
    font-size: 1.2rem;
}


.menu-btns {
    padding: 0.5em 0;
    width: 280px;
    cursor: pointer;
    border: solid 4px white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}


.pink-btn {
    background-color: #BF067F;
}

.pink-btn:hover {
    background-color: #c81087;
}


@media screen and (max-width: 792px) {
    h1, h2 {
        font-size: 1.4rem;
    }

    .small-screen-hide {
        display: none;
    }

    .inner-header {
        justify-content: center;
    }
}

/* luckiest-guy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/luckiest-guy-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}