body {
    margin: 0;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: darkblue;
    color: white;
    position: relative;
    background-image: url("./img/bg/bgbg.webp"); 
    background-size: contain;

}

h1 {
    color: white;
}

.canvas-container {
    position: relative;
}

canvas {
    background-color: black;
    height: 76vh;
    width: 60vw;
}

.canvas-fs {
    height: 100vh;
    width: 100vw;
}

.btn-div {
    position: absolute;
    top: 33%;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.menu-btns {
    padding: 0.5em 0;
    width: 280px;
    cursor: pointer;
    border: solid 4px white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.pink-btn {
    background-color: #BF067F;
}


.pink-btn:hover {
    background-color: #c81087;
}


.gameOver-layout {
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
    width: 400px;
    height: 200px;
}

.gO-img {
    width: 400px;
    margin-bottom: 10vh;
}

/* .sub-btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.sub-btn {
    color: yellow;
    font-size: 2rem;
    cursor: pointer;
    border: solid 2px yellow;
    border-radius: 12px;
    padding: 0.2em;
    text-align: center;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sub-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.instructions {
    position: absolute;
    border-radius: 32px;
    top: 32px;
    left: 40px;
    right: 40px;
    bottom: 32px;
    padding: 1rem;
    background-color: rgb(0, 217, 255);
    border: solid white 6px;
    z-index: 99;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.instructions-header {
    position: relative;
    width: 100%;
    text-align: center;

}

.close-button {
    cursor: pointer;
    font-size: 48px;
    padding: 4px 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 24px;
}

.special-attack-instructions {
    display: flex;
    align-items: center;
    width: 90%;
    color: yellow;
    font-size: 24px;
}

.special-attack-instructions img {
    height: 80px;
    width: 80px;
    padding: 8px;
}

.basic-controls-img {
    width: 500px;
    height: 200px;
}


.set-title {
    font-size: 3rem;
    margin-top: 2rem;
}


.sett-btn-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.checkbox {
    width: 2rem;
    cursor: pointer;
}

.game-end-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.game-end-container h1 {
    font-size: 4rem;
    color: yellow;
    margin: 0;
}

.game-end-container h2 {
    font-size: 3rem;
    color: palegreen;
    margin: 0;
}

.hs-ol {
    margin-bottom: 2rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.hs-list-item {
    display: flex;
    gap: 1rem;
}

.hs-index {
    color: yellow;
}


.ingame-settings {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    gap: 2rem;
}


.ingame-settings img {
    width: 2rem;
    cursor: pointer;
}


.landscape-container {
    position: absolute;
    z-index: 999;
    color: rgb(15, 15, 225);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.portrait-warning {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
}


.mobile-btn-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.381);
}


.mob-btn-dir {
    width: 3rem;
}

.mob-btn {
    padding: 0.5rem 1rem;
    border-radius: 16px;
    z-index: 999;
}


.btn-fin-attack {
    border: solid 4px red;
    color: red;
}

.btn-bub-attack {
    border: solid 4px yellow;
    color: yellow;
}


.btn-poi-attack {
    border: solid 4px rgb(18, 247, 18);
    color: rgb(18, 247, 18);
    padding: 0.5rem;
    border-radius: 16px;
}


.flex-devider {
    flex: 1;
}



@media screen and (max-width: 1366px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }
}


@media screen and (orientation: portrait) and (max-width: 576px) {

    .canvas-container {
        display: none;
    }
}



@media screen and (orientation: portrait) and (max-width: 719px) {

    .landscape-container {
        display: flex;
    }
}


@media screen and (max-height: 580px) {
    .gameOver-layout {
        top: 20%;
    }

    .menu-btns {
        font-size: 1.5rem;
        width: 240px;
    }

    .sub-btn {
        font-size: 1.5rem; 
    }

    .gO-img {
        width: 360px;
        margin-bottom: 20px;
    }
}



@media screen and (max-width: 992px){
    .hide-on-mobile {
        display: none;
    }

    .mobile-btn-overlay {
        display: flex;
    }

    .btn-div {
        top: 16%
    }


}



/* luckiest-guy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/luckiest-guy-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}