body {
    margin: 0;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: darkblue;
    color: white;
}

h1 {
    color: white;
}

.canvas-container {
    position: relative;

}

canvas {
    background-color: black;
}

.btn-div {
    position: absolute;
    top: 20%;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.gameOver-layout {
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    width: 400px;
    height: 200px;
}

.gameOver-layout p {
    color: yellow;
    font-size: 2rem;
    cursor: pointer;
    border: solid 2px yellow;
    border-radius: 12px;
    padding: 0.2em;
}

.gameOver-layout p:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-btns {
    height: 80px;
    width: 280px;
    cursor: pointer;
}

.instructions {
    position: absolute;
    border-radius: 32px;
    top: 32px;
    left: 40px;
    right: 40px;
    bottom: 32px;
    background-color: rgb(0, 217, 255);
    border: solid white 6px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.instructions-header {
    position: relative;
    width: 100%;
    text-align: center;

}

.close-button {
    cursor: pointer;
    font-size: 48px;
    padding: 4px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 24px;
}

.special-attack-instructions {
    display: flex;
    align-items: center;
    width: 90%;
    color: yellow;
    font-size: 24px;
}

.special-attack-instructions img {
    height: 80px;
    width: 80px;
    padding: 8px;
}

.basic-controls-img {
    width: 340px;
    height: 200px;
}

.game-end-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-end-container h1 {
    font-size: 4rem;
    color: yellow;
}

.game-end-container h2 {
    font-size: 3rem;
    color: palegreen;
}


/* luckiest-guy-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/luckiest-guy-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }