:root {
    --grey: #efefef;
    --green: #008000
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.img-radius {
    border-radius: 16px;
}

.medium-img {
    object-fit: cover;
    overflow: auto;
}

.small-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h2 {
    margin-bottom: 32px;
}

/* ANCHOR header */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    border-bottom: solid 4px var(--grey);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 16vw;
    padding-right: 16vw;
    height: 100px;

}

.logo {
    align-self: center;
}

.logo img {
    height: 80px;
}

.navbar {
    align-self: flex-end;
}

.navlink {
    color: black;
    padding: 6px 0px;
    margin: 0px 8px;
    font-weight: 600;
}

.navlink:hover {
    color: var(--green);
    border-bottom: solid 4px var(--green);
}


/* ANCHOR mobile Navigation */

.navbar-mobile {
    display: none;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 114px;
    right: 0;
    left: 0;
    background-color: white;
    font-size: 24px;
    border-bottom: solid 4px var(--grey);
    padding-bottom: 24px;
}

.navlink-mobile {
    padding: 16px;
    text-align: start;
    color: black;
    width: 280px;
    font-weight: 600;
}

.navlink-mobile:hover {
    color: var(--green);
}

.burger-menu {
    width: 60px;
    padding: 16px;
    display: none;
}

.closeBurger {
    align-self: center;
    width: 32px;
    padding: 12px 64px;
}


/* ANCHOR body */

body {
    font-family: "raleway", sans-serif;
    font-size: 16px;
}

section {
    padding: 32px 16vw 64px 16vw;
}

/* ANCHOR hero section */

.hero-section {
    margin-top: 130px;   
}

.hero-section h2 {
    margin-top: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content div{
    flex-grow: 2;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: var(--green);
    color: white;
    border: solid var(--green) 2px;
    border-radius: 0;
    font-size: 16px;
}

/* ANCHOR 3 Rezepte */

.bg-gray {
    background-color: var(--grey);
}

.receipts-section h2 {
    text-align: center;
}

.receipts-section p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

/* ANCHOR Info-content */

.news-section h2 {
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 24px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

/* ANCHOR Reciept page */

.content {
    padding-left: 16vw;
    padding-right: 16vw;
    margin-top: 160px;
}

h3 {
    padding-top: 24px;
}

.btn-portion {
    height: 48px;
    width: 180px;
}

.btn-portion:hover {
    cursor: pointer;
}

table {
    width: 100%;
    margin-bottom: 32px;
}

td {
    border-radius: 8px;
    padding: 16px 24px;
}

.reciept-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.tags {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--grey);
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.tag img {
    height: 16px;
}

form {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: solid var(--grey) 1px;
    margin-top: 48px;
}

form label {
    margin-right: 8px;
}

#input-text {
    height: 44px;
    padding: 0;
    border: solid var(--grey) 2px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

}

/* ANCHOR Media querries */

@media (max-width: 1100px) {
    .content {
        padding: 16px;
    }

    .navbar {
        padding-right: 16px;
    }

    .header {
        padding-left: 0;
        padding-right: 0;
    
    }

    .logo {
        padding-left: 16px;
    }
}


@media (max-width: 900px) {
    .logo img {
        height: 60px;
        align-self: center;
    }

    .header {
        background-color: white;
        position: fixed;
        width: 100%;
    }

    .navlink {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    h1 {
        text-align: center;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section {
        width: 100%;
        padding: 32px 0 64px 0;
    }

    .medium-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    
    .small-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .hero-content {
        align-items: center;
    }

    p {
        margin: 1em;
    }

    .column-reverse-on-mobile {
        flex-direction: column-reverse;
    }

    /* ANCHOR media qurries reciept */

    .reciept-img {
        width: 90%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .content {
        padding: 4px;
    }

    .navbar {
        padding-right: 4px;
    }

    .logo {
        padding: 8px;
    }

    p {
        margin: 8px;
    }

    .burger-menu {
        padding: 4px;
    }

    form {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        margin-top: 24px;
    }

    #input-text {
        border-radius: 0;
        width: 178px;
    }
}