:root {
    --grey: #efefef;
    --green: #008000
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.img-radius {
    border-radius: 16px;
}

.medium-img {
    width: 400px;
}

.small-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* ANCHOR header */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    border-bottom: solid 4px var(--grey);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 16vw;
    padding-right: 16vw;
    height: 120px;

}

.logo {
    height: 100px;
    align-self: center;
}

.navbar {
    align-self: flex-end;
}

.navlink {
    padding: 6px 0px;
    margin: 0px 8px;
    font-weight: 600;
}

.navlink:hover {
    color: var(--green);
    border-bottom: solid 4px var(--green);
}

/* ANCHOR body */

body {
    font-family: "raleway", sans-serif;
    font-size: 18px;
}

.hero-section {
    margin-top: 130px;
    
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.content {
    padding-left: 16vw;
    padding-right: 16vw;
    margin-top: 160px;
}

.bg-gray {
    background-color: var(--grey);
}

.reciept-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.tags {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}

.tag {
    background-color: var(--grey);
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.tag img {
    height: 16px;
}

form {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: solid var(--grey) 1px;
    margin-top: 48px;
}

form label {
    margin-right: 8px;
}

#input-text {
    height: 44px;
    padding: 0;
    border: solid var(--grey) 2px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

}

#button {
    height: 48px;
    width: 180px;
    background-color: var(--green);
    color: white;
    border: solid var(--green) 2px;
    border-radius: 0;
    font-size: 18px;
}

table {
    width: 100%;
    margin-bottom: 32px;
}

td {
    border-radius: 8px;
    padding: 16px 24px;
}

h3 {
    padding-top: 24px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 24px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}


@media (max-width: 1100px) {
    .content {
        padding: 0;
    }

    .header {
        padding-left: 0;
        padding-right: 0;
    
    }
}